body{
  margin: 0%;
  padding: 0%;
  text-align: center;
  margin-top: 3%;
  font-family: cursive;
  background-image: linear-gradient(45deg,black, rgb(118, 149, 236));
  height: 100vh;
  
}
main{
  background-color: aqua;
  margin-left: 15%;
  margin-right: 15%;
  border: 1px solid black;
  border-radius: 30px;
}
img{
  padding: 20px;
}
.botão{
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(13, 59, 158, 0.65);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
#sete {
  margin-top: 60px;
  margin-left: -36%;
}
#seis{
  margin-top: 65px;
  margin-left: -200px;
}
#cinco{
  margin-top: 15%;
  margin-left: -150px;
}
#quatro{
  margin-top: 15%;
  margin-left: -300px;
}
#tres{
  margin-top: 15%;
  margin-left: -39%;
}
#dois{
  margin-top: 25%;
  margin-left: -48%;
}
#um{
  margin-top: 33.5%;
  margin-left: -33%;
  width: 150px;
}
@media (max-width: 1260px) {
  #sete {
    margin-top: 60px;
    margin-left: -40%;
  }
  #seis{
    margin-top: 65px;
    margin-left: -200px;
  }
  #cinco{
    margin-top: 18%;
    margin-left: -150px;
  }
  #quatro{
    margin-top: 17%;
    margin-left: -300px;
  }
  #tres{
    margin-top: 17%;
    margin-left: -45%;
  }
  #dois{
    margin-top: 30%;
    margin-left: -55%;
  }
  #um{
    margin-top: 38%;
    margin-left: -38%;
    width: 150px;
  }
}
